{% load static %}

<div class="row">
    <div class="col">
        <a href="{% url "store" %}" class="btn btn-outline-dark">&#x2190; Continuer les achats</a>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-3 " style="transform: translateX(-40px)">
        <a href="{% url "checkout" %}" class="btn jm-btn btn--primary">
            <div class="jm-btn-decorator">
            <i class="fa-regular fa-credit-card"></i>
            </div>
            Finaliser les achats
        </a>
    </div>
    <table class="table jm-table mt-3">
        <tr>
            <th><h5>Produits: <strong>{{order.get_cart_items}}</strong></h5></th>
            <th class="text-end"><h5>Total: <strong>${{order.get_cart_total|floatformat:2}}</strong></h5></th>
        </tr>
    </table>
    <br>
    <div class="shadow-sm rounded-4 p-4">
        <table class="table jm-table align-middle">
        <caption>Listes des produits dans le panier</caption>
            <thead>
                <tr>
                <th scope="col">Produits</th>
                <th scope="col"></th>
                <th scope="col">Prix</th>
                <th scope="col">Quantité</th>
                <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for item in items %}
                <tr>
                    <th scope="row"><img class="row-image" src="{{item.product.imageURL}}"></th>
                    <td>{{item.product.name}}</td>
                    <td>$ {{item.product.price|floatformat:2}}</td>
                    <td class="text-start ">
                        <i class="fa-solid fa-minus chg-quantity update-cart me-2" data-product="{{item.product.id}}" data-action="remove" ></i>
                        {{item.quantity}} 
                        <i class="fa-solid fa-plus chg-quantity update-cart ms-2" data-product="{{item.product.id}}" data-action="add"></i>
                    </td>
                    <td>${{item.get_total}}</td>
                    <td><i class="fa-solid fa-close chg-quantity update-cart ms-2" data-product="{{item.product.id}}" data-action="remove-all"></i></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>