{% load static %}
<div class="box-element rounded-4">
    <div class="row">
            <div class="col-3">
                <a href="{% url "product" item.id %}" class="text-dark">
                    <img
                        src="{{item.imageURL}}"
                        alt="placeholder{{item.name}}"
                        class="card-img-top jm-image"
                    />
                </a>
            </div>
            <div class="col-6 d-flex flex-column justify-content-between">
                <h5 class="card-title">
                    <a href="{% url "product" item.id %}" class="text-dark">{{item.name}}</a>
                </h5>
                <p class="card-text text-truncate" style="max-width: 100%;">    
                    <a href="{% url "product" item.id %}" class="text-dark">
                        Some quick example text to build on the card title and make up the bulk of
                        the card's content.
                    </a>
                </p>
                <button data-product="{{item.id}}" data-action="add" class="jm-btn btn--primary update-cart" data-bs-toggle="modal" data-bs-target="#cartModal" style="max-width:200px">
                    <div class="jm-btn-decorator">
                        <i class="fa-solid fa-cart-shopping"></i>
                    </div>
                    <span>Ajouter</span>
                </button>
            </div>
            <div class="col-3 d-flex flex-column justify-content-between align-items-end">
                <a href="{% url "product" item.id %}" class="text-dark jm-btn btn--simple">
                    <i class="fa-solid fa-chevron-right fs-5"></i>
                </a>
                <h5>${{item.price | floatformat:2}}</h5>
            </div>
        </div>
</div>